$color-text: white;
$color-text-dark: #202020;
$header-height: 100px;
$burger-width: 40px;
$font-headings: Georgia, serif;

$color-bg-green: #ACB7AE;
$color-bg-lightgreen: #a6b3b3;
$color-bg-lightbrown: #b0a7a4;
$color-bg-lightblue: #a3abb1;
$color-bg-loaderblue: #758A94;
$color-bg-loaderbluedark: #566C76;
$color-bg-fill: $color-bg-green;

$loader-width: 27.36vw;
$loader-height: 50vh;

$v-spacing: 10vh;
$h-gutter: 6.6vw;

$easing: cubic-bezier(0.5, 0.7, 0.4, 1);