main {
  z-index: 1;
  position: relative;
}
section {
  position: relative;
}
.with-padding {
  padding: $v-spacing 0;
}
.with-padding-bottom {
  padding-bottom: $v-spacing;
}
.chapter {
  font-family: $font-headings;
  font-weight: normal;
  position: absolute;
  left: $h-gutter;
  top: $v-spacing;
  z-index: 2;
  color: $color-text;
  font-size: 1.6vw;
}
.chapter span {
  opacity: 0.4;
}